.text-deep-skyblue {
  color: $clr-deep-skyblue;
}
.text-skyblue {
  color: $clr-skyblue;
}
.text-orange {
  color: $clr-orange;
}
.text-yellow {
  color: $clr-yellow;
}
.text-white {
  color: $clr-white;
}
.bg-deep-skyblue {
  background-color: $clr-deep-skyblue;
}
.bg-skyblue {
  background-color: $clr-skyblue;
}
.bg-orange {
  background-color: $clr-orange;
}
.bg-yellow {
  background-color: $clr-yellow;
}
.bg-white {
  background-color: $clr-white;
}
.fs-body {
  font-size: $fs-body;
  font-family: $ff-body;
}
.fs-nav {
  font-size: $fs-nav;
  font-family: $ff-nav;
}
.fs-button {
  font-size: $fs-button;
  font-family: $ff-button;
}
.fs-home-heading {
  font-size: $fs-home-heading;
  font-family: $ff-home-heading;
}
.fs-primary-heading {
  font-size: $fs-primary-heading;
  font-family: $ff-primary-heading;
}
.fs-secondary-heading {
  font-size: $fs-secondary-heading;
  font-family: $ff-secondary-heading;
}
.fw-regular {
  font-weight: $fw-regular;
}
.fw-medium {
  font-weight: $fw-medium;
}
.fw-semi-bold {
  font-weight: $fw-semi-bold;
}
.fw-bold {
  font-weight: $fw-bold;
}
// =============Classes for styling==============

.container {
  --max-width: 1110px;
  --min-width: 100% - 1rem;
  width: min(var(--max-width), var(--min-width));
  margin-inline: auto;
}
// .even-columns {
//   display: grid;
//   gap: 1rem;
// }
// @media (min-width: 50em) {
//   .even-columns {
//     grid-auto-flow: column;
//     grid-auto-columns: 1fr;
//   }
// }
.even-columns {
  display: flex;
  gap: 2rem;
}
.even-columns > * {
  flex: 1;
}
@media (max-width: 50em) {
  .even-columns {
    flex-direction: column;
  }
  .even-columns[data-type="even-columns-reverse"] {
    flex-direction: column-reverse;
  }
}
:is(.flow :not(:first-child)) {
  margin-top: var(--flow-space, 2rem);
}
.section-padding-block {
  padding-block: 4rem;
}
.section-padding-top {
  padding-block-start: 2rem;
}
.btn {
  @include button-style;
}
.btn-play {
  padding: clamp(0.3rem, calc(0.2rem + 0.5vw), 0.35rem) clamp(1rem, calc(0.5rem + 1.5vw), 1.5rem);
  outline: none;
  border: none;
  background: transparent;
  font-size: $fs-button;
  font-family: $ff-button;
  color: $clr-white;
  cursor: pointer;
  border-radius: 2px;
  transition: 200ms ease;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &:hover .play {
    border: 1px solid transparent;
    background-color: $clr-white;
    color: $clr-orange;
  }
  .play {
    border: 2px solid transparent;
    background-color: $clr-orange;
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 50rem;
    display: grid;
    place-items: center;
  }
}
.btn:hover {
  @include button-style-hover;
}

.btn[data-type="reverse"] {
  @include button-style2;
}
.btn[data-type="reverse"]:hover {
  @include button-style-hover2;
}

.btn[data-type="white"] {
  @include button-style3;
}
.btn[data-type="white"]:hover {
  @include button-style-hover3;
}

.section-heading {
  text-align: center;
}
