@import "boilerplate";
@import "font";
@import "mixin";
@import "variable";
@import "global_classes";
// @import "component_code";

// ===========General Code Start=============
body {
  font-family: $ff-body;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
html {
  overflow-x: hidden;
}
// ===========Home Design=============
.brand-logo {
  font-size: 2rem;
  color: $clr-deep-skyblue;
  font-weight: $fw-bold;
}
.home {
  background-image: url("../images/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 21, 58, 0.6);
    z-index: -1;
  }
}

// ===========Header Design=============
.primary-header {
  height: 15vh;
  display: flex;
  align-items: center;
  position: relative;
  .nav-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
    height: 10vh;
    border-radius: 10px;
    padding-left: 1rem;
    .primary-navigation {
      ul {
        display: flex;
        @include gap;
        li {
          a {
            color: $clr-deep-skyblue;
            transition: color 200ms ease-in;
            &:hover {
              color: $clr-orange;
            }
          }
        }
      }
    }
    .contact-us {
      height: 100%;
      margin-right: -1px; //to set white px
      padding: 0 1rem 0 1.5rem;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include gap;
      background-color: rgb(0, 119, 255);
      color: $clr-white;
      position: relative;
      .contact-icon {
        position: absolute;
        top: 50%;
        left: -1rem;
        transform: translateY(-50%);
        background-color: rgb(0, 119, 255);
        border-radius: 100vmax;
        height: 2.5rem;
        width: 2.5rem;
        display: grid;
        place-items: center;
      }
      .nav-toggle {
        display: none;
        color: red;
        .toggle-icon[name="toggle-close"] {
          display: none;
        }
      }
    }
  }
}
// ===========Navbar Media Code=============
@media (max-width: 910px) {
  .primary-navigation {
    position: absolute;
    top: 0;
    right: 0;
    background: $clr-white;
    height: 100vh;
    width: 50%;
    z-index: 9999;
    display: grid;
    place-items: center;
    transform: translateX(100%);
    transition: transform 0.6s;
    &.nav-active {
      transform: translateX(0%);
    }
    ul {
      flex-direction: column;
      transform: translateX(100%);
      opacity: 0;
      transition: transform 1s;
    }
    &.nav-active ul {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  .primary-header .nav-wraper .contact-us .nav-toggle {
    display: block;
    z-index: 99999;
  }
}
@media (max-width: 426px) {
  .primary-navigation {
    width: 100%;
  }
  .primary-header .nav-wraper .contact-us {
    padding: 0 1rem;
    .contact-icon {
      display: none;
    }
    .contact-info {
      display: none;
    }
  }
}
.home-content {
  min-height: 85vh;
  .home-content-wraper {
    .home-row {
      .home-l {
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .home-l-wraper {
          width: 100%;
        }
      }
      .home-r {
        height: 85vh;
        display: flex;
        align-items: center;
        .home-r-wraper {
          .home-r-button-group {
            display: flex;
            align-items: center;
            .btn,
            .btn-play {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 50em) {
  .home-content {
    padding-block: 4rem;
  }
  .home-r-button-group {
    justify-content: center;
    .btn,
    .btn-play {
      padding: clamp(0.3rem, calc(0.2rem + 0.5vw), 0.35rem) clamp(0.5rem, calc(0.3rem + 1vw), 1rem);
    }
  }
}

// ===========Form Design Design=============
.search-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #797d89;
  padding: 1rem;
  border-radius: 5px;
  width: min(30rem, 100%);
  margin-inline: auto;
  h2 {
    color: $clr-white;
    font-size: $fs-secondary-heading;
    font-weight: $fw-semi-bold;
  }
  .input-group {
    display: flex;
    gap: 1rem;
  }
  .input-group > * {
    flex: 1;
  }
  select,
  input {
    width: 100%;
    outline: none;
    background-color: $clr-white;
    border: none;
    border-radius: 5px;
    color: #252525;
  }
  select {
    padding: 0.5rem;
    appearance: none;
  }
  input {
    padding: 0.4rem;
    user-select: none;
  }
}
@supports (backdrop-filter: blur(1rem)) {
  .search-form {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1rem);
  }
}
// ===========Payment Mathod Code=============
.payment-suport-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  @include gap;
  place-items: center;
}
// ===========Notice Design Code=============
.notice-content {
  ul {
    li {
      &::before {
        content: "\f05a";
        font-family: "Font Awesome 6 Free";
        font-weight: bold;
        color: $clr-deep-skyblue;
        display: inline-block;
        margin-right: 0.5em;
      }
    }
  }
}
// ===========Step 1 Code=============

.search-form-2 {
  .search-form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @include gap;
    select,
    input {
      flex: 1;
      outline: none;
      background-color: $clr-white;
      border: 1px solid $clr-deep-skyblue;
      border-radius: 5px;
      color: $clr-deep-skyblue;
      padding: 0.5rem 0.5rem;
      appearance: none;
    }
  }
}
// ===========Step 2 Code=============
.step-2 {
  .step-2-content {
    overflow: auto;
    table {
      width: max(100%, 800px);
      thead tr {
        background: $clr-skyblue;
        th {
          padding: 0.5rem 0;
          text-align: center;
          font-family: $ff-Nunito-Sans;
        }
      }
      tbody tr {
        background: #eee;
        td {
          text-align: center;
          padding: 0.2rem 0;
          font-family: $ff-Nunito-Sans;
          .td-icon {
            color: $clr-orange;
          }
        }
      }
    }
  }
}
// ===========Step 2 Code=============
.step-3-content {
  .seats {
    flex: 4;
    .seats-wraper {
      border: 2px solid $clr-deep-skyblue;
      padding: 0.5rem;
      border-radius: 10px;
      .seat-status-info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        .seat-info-type {
          width: 100%;
          display: flex;
          & > * {
            flex: 1;
            text-align: center;
            padding: 0.2rem;
          }
        }
        .seat-status-color {
          width: 100%;
          display: flex;
          border-radius: 10px;
          border: 2px solid $clr-deep-skyblue;
          & > * {
            flex: 1;
            text-align: center;
            background-color: red;
            padding: 1rem;
          }
          .available-color {
            background-color: $clr-white;
            border-radius: 10px 0 0 10px;
          }
          .booked-color {
            background-color: #a7a7a7;
          }
          .discount-color {
            background-color: $clr-orange;
            border-radius: 0 7px 7px 0;
          }
        }
      }
      table {
        width: 100%;
        td {
          text-align: center;
        }
        thead {
          tr {
            // background-color: skyblue;
            td {
              span {
                display: grid;
                place-items: center;
                padding: 1rem 0;
                border-radius: 10px;
                background-color: skyblue;
              }
            }
          }
        }
        tbody {
          .seats-row {
            td {
              cursor: pointer;
              user-select: none;
              &[aria-details="none"] label span {
                opacity: 0;
                cursor: pointer;
              }
              &[seat-status="booked"] label span {
                background-color: #a7a7a7;
                cursor: not-allowed;
              }
              label {
                span {
                  display: grid;
                  place-items: center;
                  border: 1px solid blue;
                  padding: 1rem 0;
                  border-radius: 10px;
                }
                input[type="checkbox"] {
                  display: none;
                  &:checked + span {
                    background-color: red;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ticket-info {
    flex: 8;
    .ticket-info-wraper {
      border: 1px solid $clr-deep-skyblue;
      border-radius: 10px;
      padding: 1rem;
      background-color: #eee;
      .price-info {
        .price-info-table {
          width: 100%;
          margin: 1rem 0;
          thead {
            tr {
              th {
                background-color: $clr-skyblue;
              }
            }
          }
          tbody {
            tr {
              td {
                text-align: center;
                background-color: #e1e1e1;
                &[td-type="null"] {
                  opacity: 0;
                }
              }
            }
          }
        }
      }
      .personal-info {
        .personal-info-form {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .personal-field {
            display: flex;
            gap: 1rem;
            .personal-input {
              display: flex;
              flex-direction: column;
              width: 100%;
              gap: 0.3rem;
              input,
              select {
                width: 100%;
                outline: none;
                border: 1px solid $clr-deep-skyblue;
                border-radius: 5px;
              }
              input {
                padding: 0.4rem 0 0.4rem 0.5rem;
                &:focus {
                  outline: 2px solid $clr-orange;
                  border: none;
                }
              }
              select {
                padding: 0.4rem 0.5rem;
                // appearance: none;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 426px) {
  .personal-info {
    .personal-info-form {
      .personal-field {
        flex-direction: column;
      }
    }
  }
}
// ===========Footer Code=============

.footer-wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 425px) {
  .footer-wraper {
    flex-direction: column-reverse;
  }
}
